<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">What We Do</span></h4>
        </div>

        <div class="c-info-section__title">
            <h2>Growth programs</h2>
        </div>

        <div class="row c-info-section__row">
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/growing-icon.png" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>High impact</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p></p>
                        <p>Whether you're a burgeoning startup or a seasoned enterprise, Center for Entrepreneurship provides set of high impact programs.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs">View more</a>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/complement-icon.png" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Experienced mentors</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Growth is possible when experience mentor is arounnd. Center for Entrepreneurship provides the opportunity to find best mentors for your business. </p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/mentoring-programs">View more</a>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/analyze-icon.png" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Best international practices</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>At Center for Entrepreneurship, we provide a comprehensive access to the best international practices. </p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/best-practices">View more</a>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/talent-icon.png"" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Dedicated program team</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p></p>
                        <p>At Center for Entrepreneurship, we empower customers to focus on their core business strengths by using our dedicated team. This allows for meticulous oversight of project plans, sprints, and day-to-day activities, ensuring optimal performance of the core team.</p>
                        <p></p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/dedicated-team">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>
